*{
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background: wheat;
    height: 100vh;
    padding: 60px;
}
.todo-input{
    background: blue;
    padding: 30px 10px;
    width: 300px;
    box-shadow: 4px 8px 16px black;
    text-align: center;
}
.error-msg{
    color: red;
    background-color: white;
}
.todo-input button{
    width: 60px;
    height: 30px;
}
.todo-input input{
    width: 120px;
    height: 30px;
}
.todo-stats{
    background: violet;
    padding: 30px 10px;
    width: 300px;
    box-shadow: 4px 8px 16px black;
    text-align: center;
}
.todo-list{
    background: turquoise;
    padding: 30px 10px;
    width: 300px;    
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 8px 16px black;
}
.todo{
    border: 2px solid gray;
    background: orange;
    width: 200px;
    display: flex;
    justify-content: space-between;
}